*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.buttonAgregar{
    margin-left: 3%;
}

.conteiner-formularios{
    /*border: solid;*/
    width: 100%;
    display: flex;
}
.conteiner-formularios form{
    margin-left: 15%;
    /*border: solid;*/
    display: flex;
    width: 30%;
}
.conteiner-formularios form button{
    margin-left: 5%;
    width: 60%;
    height: 100%;
}


.conteiner-formularios form input{
    width: 70%;
}
.table-fechas{
    margin-left: 10%;
}
.nombrePaciente{
    margin-left: 10%;
}
.nombrePaciente2{
    margin-left: 10%;
}
.tituloCabcera{
    margin-top: 0.2rem;
}
/*Pantallas pequeñas (móviles en landscape de menos de 768px)*/

@media (max-width: 767.98px) { 
    .conteiner-formularios{
        display: block;
        width: 100%;

    }
    .conteiner-formularios form{
        margin-left: 22%;
        margin-top: 5%;
        /*border: solid;*/
        display: block;
        width: 80%;
    }
    .conteiner-formularios form input{
        width: 60%;
        margin-left:2%;
        margin-bottom: 8%;
    }
    .conteiner-formularios form button{
        margin-left: 2%;
        width: 60%;
        
    }
    .nombrePaciente{
        margin-left: 22%;
    }
    .nombrePaciente2{
        margin-left: 15%;
    }
    .tituloCabcera{
        margin-top: 2%;
    }
}
